# Environments
.env
.venv
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.DS_Store
.idea/
.vscode/

# Streamlit
.streamlit/credentials.toml

# Database & Logs
*.sqlite3
*.db
app.log
.pytest_cache/
.coverage
coverage.xml

# Docker
docker-compose.override.yml
